h1 {
	color: #077e8a;
	font-family: serif;
	font-size: xx-large;
}
ul {
	color:#9f1ee0;
	font-family: serif;
	font-style: italic;
	font-size:xx-large;
}
ul {
	list-style:circle;
	padding: 0;
}
p { 
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#example1 {
	background-color: gray;
	background-repeat: no-repeat;
	background-position:right bottom;
	padding: 10px;
	}
li{
	float: left;
	padding: 1em;
	list-style-position: !important;
	list-style:none;
}
img {
	/*
    width: 80%;
    height:50%;
*/
}
img src{
	width:50%;
	height:50%;
}

a {
	color: #000;
}

a:visited {
	color: #999;
}